challenge 1 :
 Capital indexes

In [11]:
def capital_indexes(input_string):
    capital_indexes_list=[]
    for indexes,i in enumerate(input_string):
        if i.isupper():
           capital_indexes_list.append(indexes)
    return capital_indexes_list

Challenge 2 : Middle letter

In [12]:
def mid(input_string):
  input_string_len=len(input_string)
  if(input_string_len%2)==0:
    return("")
  else:
    return input_string[int(((input_string_len+1)/2)-1)]

Challenge 3 : Online status

In [13]:
 def online_count(input_dict):
    online_count=0
    for value in input_dict.values():
        if value=="online":
            online_count+=1
    return online_count

Challenge 4 : Randomness

In [14]:
import random
def random_number():
    return random.randrange(1,101)

Challenge 5 : Type check

In [15]:
 def only_ints(a,b):
    return True if(type(a)==int and type(b)==int)else  False

Challenge 6 : Double letters

In [17]:
 def double_letters(name):
    new_string = list(name)
    sm = False
    for i, x in enumerate(new_string):
        if (i + 1 < len(new_string) and i - 1 >= -1):
            prev_el = str(new_string[i-1])
            curr_el = str(x)
            next_el = str(new_string[i+1])
            print("{} {}".format(curr_el, next_el))
            if curr_el == next_el:
                sm = True
                return sm
print(double_letters('aa'))

a a
True

Challenge 7 : Adding and removing dots

In [18]:
def add_dots(string):
    
    return ".".join(string)
    
    
def remove_dots(string):
    return string.replace(".", "")

Challenge 8 : Counting syllables

In [19]:
def count(word):
    new_word = word
    count_syllables = new_word.split('-')
    return len(count_syllables)
print(count("ho-tel"))

2

Challenge 9 : Anagrams

In [20]:
def is_anagram(name1, name2):
    name1 = name1.lower()
    arr1 = list(name1)
    arr1.sort()

    name2 = name2.lower()
    arr2 = list(name2)
    arr2.sort()
    
    return arr2 == arr1

Challenge 10 : Flatten a list

In [21]:
def flatten(list_of_lists):
    if len(list_of_lists) == 0:
        return list_of_lists
    if isinstance(list_of_lists[0], list):
        return flatten(list_of_lists[0]) + flatten(list_of_lists[1:])
    return list_of_lists[:1] + flatten(list_of_lists[1:])

print(flatten([[1, 2, 3, 4], [5, 6, 7], [8, 9], 10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Challenge 11 : Min-maxing

In [23]:
def largest_difference(numbers):
 sm_number = numbers
 la_number = numbers
 smaller = min(sm_number)
 largest = max(la_number)
 return largest - smaller

 print(largest_difference([1, 2, 3, 5, 6]))

Challenge 12 : Divisible by 3

In [24]:
def div_3(x):
    if x % 3 == 0:
        return True
    else:
        return False


print(div_3(6))

True

Challenge 13 : Tic tac toe input

In [25]:
def get_row_col(s):
    letters = {'A': 0, 'B': 1, 'C': 2}
    return (int(s[1]) - 1, letters[s[0]])

Challenge 14 : Palindrome

In [26]:
def palindrome(a):
    return a == a[::-1]

Challenge 15 : Up and down

In [27]:
def up_down(n):
    return (n-1, n+1)

Challenge 16 : Consecutive zeros

In [28]:
def consecutive_zeros(s):
    max_count = 0
    count = 0
    for char in s:
        if char == '0':
            count += 1
            if count > max_count:
                max_count = count
        else:
            count = 0
    return max_count

Challenge 17 : All equal

In [29]:
def all_equal(l):
    for char in l:
        if l[0] != char:
            return False
    return True

Challenge 18 : Boolean and

In [30]:
def triple_and(a, b, c):
    return a and b and c

Challenge 19 : Writing short code

In [31]:
def convert(l):
    return [str(x) for x in l]

Challenge 20 : Custom zip

In [32]:
def zap(a, b):
    return [(a[i], b[i]) for i in range(len(a))]

Challenge 21 : Solution validation

In [33]:
def validate(code):
    if 'def' not in code:
        return "missing def"
    if ':' not in code:
        return "missing :"
    if '('+')' in code:
        return "missing param"
    if '(' not in code or ')' not in code:
        return "missing paren"
    if '    ' not in code:
        return "missing indent"
    if 'validate' not in code:
        return "wrong name"
    if 'return' not in code:
        return "missing return"
    return True

Challenge 22 : List xor

In [34]:
def list_xor(n, list1, list2):
    return (n in list1 or n in list2) and (n not in list1 or n not in list2)

Challenge 23 : Counting parameters

In [35]:
def param_count(*pargs):
    return len(pargs)

Challenge 24 : Thousands separator

In [36]:
def format_number(n):
    return '{:,}'.format(n)